body {
    color: white;
    background-color: #283044;
}

.jumbotron {
    background-color: #568EA3;
}

.startGame {
    background-color: #283044;
    padding: 10px;
    height: 100px;
}

#inputName {
    font-size: 4em;
    height: 80px;
}

#btn-name {
    float: right;
    height: 80px;
}

.game {
    height: 250px;
}

.game .col-4:nth-child(even) {
   border-left: 10px solid white;
   border-right: 10px solid white;
   background-color: #BFA89E;

}

.game .col-4:nth-child(odd) {
    background-color: #568EA3;
}

.rock:hover, .paper:hover, .scissors:hover {
    background-color: #283044;
}

.chat {
    height: 250px;
    border: 10px solid white;
}

.chatArea {
    overflow-y: scroll;
    height: 230px;
    
}

.chat .col-8 {
    background-color: #283044;
}

.chat .col-4 {
    background-color: #568EA3;
}


#chat-input {
    width: 100%;
}
#btn-chat {
    height: 190px;
    width: 100%;
}